.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
  margin-top: 100px;
}

.wrapperResponsive {
  height: unset;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.containerResponsive {
  flex-wrap: unset;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  border: 2px solid #75d6ff;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow: auto;
  height: 440px;
  max-width: 320px;
  min-width: 320px;
  flex: 1;
}

.itemsResponsive {
  padding: unset;
  border: unset;
  max-width: unset;
  min-width: 90%;
  border-radius: unset;
  overflow: unset;
  height: unset;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid #75d6ff;
  border-radius: 10px;
  height: 440px;
  max-width: 320px;
  min-width: 320px;
  flex: 1;
}

.formResponsive {
  padding: unset;
  border: unset;
  max-width: unset;
  min-width: 90%;
  border-radius: unset;
}

.form input {
  border: 2px solid #75d6ff;
  border-radius: 10px;
  background-color: rgb(237 237 237);
  padding: 10px;
  outline: unset;
}

.form textarea {
  border: 2px solid #75d6ff;
  border-radius: 10px;
  background-color: rgb(237 237 237);
  padding: 10px;
  outline: unset;
  resize: none;
  width: 100%;
  height: 128px;
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  border: 2px solid red !important;
}

.errorMsg {
  color: red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.disable {
  opacity: 0.6;
  filter: blur(1px);
  pointer-events: none;
}
