.item {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
}

.price {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(237 237 237);
}

.remove {
  cursor: pointer;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  display: flex;
  gap: 10px;
  flex: 1;
  align-items: center;
}
